@font-face {
    font-family: varela-round;
    src: url(../assets/VarelaRound-Regular.ttf);
  }
  @font-face {
    font-family: rubik;
    src: url(../assets/Rubik-Regular.ttf);
  }
  body {
      background-color: azure;
  }
  h1 {
    font-family: varela-round;
  }
.wrapper-odd {
    margin-right: 15.7em;
    display: flex;
    justify-content: space-evenly;
}
.wrapper-even {
    margin-left: 15.7em;
    display: flex;
    justify-content: space-evenly;
}
.semi-left {
    border: dotted;
    border-color: transparent transparent #676c6e #676c6e;
    transform: rotate(45deg);
    border-radius: 50%;
    border-width: 12px;
    width: 245px;
    margin: 0;
    height: 245px;
}
.semi-right {
    border: dotted;
    border-color: transparent transparent #676c6e #676c6e;
    transform: rotate(224deg);
    border-radius: 50%;
    border-width: 12px;
    width: 245px;
    margin: 0;
    height: 245px;
}
.main-topic-left {
    position: relative;
    width: 300px;
    height: 100px;
    top: 5em;
    left: 10em;
    border-radius: 60px;
    background-color: aquamarine;

}
.main-topic-left::after {
    content: "";
    position: absolute;
    top: 43%;
    z-index: -1;
    right: -7%;
    margin-left: -5px;
    border-style: solid;
    border-color: transparent transparent transparent aquamarine;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 20px;
  }
.main-topic-right {
    position: relative;
    width: 300px;
    height: 100px;
    top: 5em;
    right: 10em;
    border-radius: 60px;
    background-color: rgb(127, 200, 255);
}
.main-topic-right::after {
    content: "";
    position: absolute;
    top: 43%;
    z-index: -1;
    left: -5.5%;
    margin-left: -5px;
    border-style: solid;
    border-color: transparent rgb(127, 200, 255) transparent transparent;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-right-width: 20px;
  }
.topic-name-left {
    font-family: varela-round;
    padding: 38;
}

.topic-name-right {
    font-family: varela-round;
    padding: 38;
    float: right;
}
.check-left {
    height: 70px;
    position: absolute;
    top: 14px;
    left: 220px;
    border-radius: 50px;
    box-shadow: 10px 10px 18px -13px rgba(0,0,0,0.75);

}
.check-right {
    height: 70px;
    position: absolute;
    top: 14px;
    left: 0.8em;
    border-radius: 50px;
    box-shadow: 10px 10px 18px -13px rgba(0,0,0,0.75);

}
.step {
    font-family: rubik;
    position: relative;
    top: 5.5em;
    height: fit-content;
}
.step-number {
    margin: 0;
    font-size: 2em;
    font-family: rubik;
}