@font-face {
    font-family: varela-round;
    src: url(../assets/VarelaRound-Regular.ttf);
  }
  @font-face {
    font-family: rubik;
    src: url(../assets/Rubik-Regular.ttf);
  }
  body {
      background-color: #a7defd;
      overflow-x: hidden;
  }
  .color-1 {
    background-color: #00adb4;
  }
  .font-color-1 {
    color: #00adb4;
  }
  .font-color-2 {
    color: #3e8496;
  }
  .font-color-3 {
    color: #2c556a;
  }
  .font-color-4 {
    color: #263044;
  }
  .color-2{
    background-color: #3e8496;
  }
  .color-3 {
    background-color: #2c556a;
  }
  .color-4 {
    background-color: #263044;
  }
  h1 {
    font-family: varela-round;
  }
.wrapper-odd {
    margin-right: 15.7em;
    display: flex;
    justify-content: space-evenly;
    opacity:0;
    transform: translateX(-25%);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in;
}
.wrapper-even {
    margin-left: 15.7em;
    display: flex;
    justify-content: space-evenly;
    opacity:0;
    transform: translateX(25%);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in;
}
.semi-left {
    border: dotted;
    border-color: transparent transparent #676c6e #676c6e;
    transform: rotate(45deg);
    border-radius: 50%;
    border-width: 12px;
    width: 245px;
    margin: 0;
    height: 245px;
}
.semi-right {
    border: dotted;
    border-color: transparent transparent #676c6e #676c6e;
    transform: rotate(224deg);
    border-radius: 50%;
    border-width: 12px;
    width: 245px;
    margin: 0;
    height: 245px;
}
.main-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 5em;
  width: 300px;
  height: 100px;
  box-shadow: 6px 3px 16px -9px rgba(0,0,0,0.8);
  border-radius: 60px;
}
.main-topic-left {
    left: 10em;
}
.main-topic-left::after {
    content: "";
    position: absolute;
    top: 43%;
    z-index: -1;
    right: -7%;
    margin-left: -5px;
    border-style: solid;
    border-color: transparent transparent transparent #00adb4;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 20px;
  }
  .main-topic-left-3::after {
    content: "";
    position: absolute;
    top: 43%;
    z-index: -1;
    right: -7%;
    margin-left: -5px;
    border-style: solid;
    border-color: transparent transparent transparent #2c556a;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 20px;
  }
.main-topic-right {
    right: 10em;
}
.main-topic-right::after {
    content: "";
    position: absolute;
    top: 43%;
    z-index: -1;
    left: -5.5%;
    margin-left: -5px;
    border-style: solid;
    border-color: transparent #3e8496 transparent transparent;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-right-width: 20px;
  }
  .main-topic-right-4::after {
    content: "";
    position: absolute;
    top: 43%;
    z-index: -1;
    left: -5.5%;
    margin-left: -5px;
    border-style: solid;
    border-color: transparent #263044 transparent transparent;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-right-width: 20px;
  }
.topic-name {
  font-family: varela-round;
  line-height: 0.8em;
  font-size: 1.5em;
  color: #f3f3f3;
  text-align: center;

}
.topic-name-right {
  padding-left: 3.3em;
  z-index: 100;
  float: right;
}
.topic-name-left {
  padding-right: 3.3em;
  padding-left: 0.1em;
}
.sub-topic {
  margin: 0.3em 0 0 0;
  font-size: 0.6em;
  line-height: 1.1em;
}

.check-left {
    height: 70px;
    position: absolute;
    top: 14px;
    left: 220px;
    border-radius: 50px;
    box-shadow: 10px 10px 18px -13px rgba(0,0,0,0.75);

}
.check-right {
    height: 70px;
    position: absolute;
    top: 14px;
    left: 0.8em;
    border-radius: 50px;
    box-shadow: 10px 10px 18px -13px rgba(0,0,0,0.75);

}
.step {
    font-family: rubik;
    position: relative;
    top: 5.6em;
    height: fit-content; 
    
    font-size: 1.1em;
}
.step-number {
    margin: -5px 0px;
    font-size: 2em;
    font-family: rubik;

}

.bring-into-view {
  opacity: 1;
  transform: translateX(0);
}